
.table-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin: auto;
  max-width: 40em;
  width: 40em;
  
  overflow: hidden;
  -webkit-animation: fromTop 0.45s linear;
          animation: fromTop 0.45s linear;
}
.table-container .labels {
  position: relative;
  height: 3em;
}
.table-container .labels label {
  color: #fff !important;
  height: 100%;
  width: 3em;
  text-align: center;
  line-height: 3em;
  padding: 0 1em;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}
.table-container .labels label:hover {
  background: rgba(255, 255, 255, 0.05);
}
.table-container .labels label .text {
  opacity: 0;
  transition: all 0.2s;
  font-size: 1.25em;
  white-space: nowrap;
  color: black;
}
.table-container .labels .left, .table-container .labels .right {
  position: absolute;
  z-index: 1;
  color: #FFF;
  line-height: 3.1em;
  pointer-events: none;
  transition: all 0.2s;
}
.table-container .labels .left {
  left: 1em;
}
.table-container .labels .right {
  right: 1em;
}
.table-container .map {
  height: 1.45em;
  display: flex;
  justify-content: space-between;
  max-width: 4em;
  margin: 0 auto;
}
.table-container .map .dot {
  width: 0.25em;
  height: 0.25em;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.25s;
  border-radius: 50%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .map .dot:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.75);
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(1) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(0) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(1) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(2) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(3) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(4) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(5) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(1) {
  transition: all 0.2s, background 0s !important;
  left: 50%;
  width: auto;
  pointer-events: none;
  background: none;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(1) .text {
  opacity: 1;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(1):last-of-type ~ .right {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:first-of-type:nth-of-type(1) ~ .left {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .labels label:nth-of-type(2) {
  z-index: 1;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .map .dot:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.75);
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(1) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(2) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(3) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(4) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(5) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(2) {
  transition: all 0.2s, background 0s !important;
  left: 50%;
  width: auto;
  pointer-events: none;
  background: none;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(2) .text {
  opacity: 1;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(2):last-of-type ~ .right {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:first-of-type:nth-of-type(2) ~ .left {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .labels label:nth-of-type(3) {
  z-index: 1;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .map .dot:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.75);
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(1) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(2) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(3) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(4) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(5) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(3) {
  transition: all 0.2s, background 0s !important;
  left: 50%;
  width: auto;
  pointer-events: none;
  background: none;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(3) .text {
  opacity: 1;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(3):last-of-type ~ .right {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:first-of-type:nth-of-type(3) ~ .left {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .labels label:nth-of-type(4) {
  z-index: 1;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .map .dot:nth-of-type(4) {
  background: rgba(255, 255, 255, 0.75);
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(1) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(2) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(3) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(4) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(5) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(4) {
  transition: all 0.2s, background 0s !important;
  left: 50%;
  width: auto;
  pointer-events: none;
  background: none;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(4) .text {
  opacity: 1;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(4):last-of-type ~ .right {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:first-of-type:nth-of-type(4) ~ .left {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .labels label:nth-of-type(5) {
  z-index: 1;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .map .dot:nth-of-type(5) {
  background: rgba(255, 255, 255, 0.75);
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(1) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(2) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(3) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(4) {
  left: 5%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(5) {
  left: 95%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(5) {
  transition: all 0.2s, background 0s !important;
  left: 50%;
  width: auto;
  pointer-events: none;
  background: none;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(5) .text {
  opacity: 1;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(5):last-of-type ~ .right {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:first-of-type:nth-of-type(5) ~ .left {
  opacity: 0;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .labels label:nth-of-type(6) {
  z-index: 1;
}
.table-container input[type=radio] {
  position: absolute;
  display: none;
}
.table-container .table {
  display: flex;
  background: #FFF;
  position: relative;
  min-width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.table-container .table .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background:lightgray;
  
}
.table-container .table .data {
  width: 60%;
  display: flex;
  position: absolute;
  left: 60%;
  z-index: 0;
  transition: all 0.2s;
}

.signature{
  float: right;
  color: rgba(255, 255, 255, 0.75);;
  letter-spacing: 1px;
  font-size: .7em;
  font-style: italic;
}
.table-container .table .data .column {
  min-width: 100%;
}
.table-container .table .data .item:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.1);
}
.table-container .table .item {
  box-sizing: border-box;
  padding: 1em;
}
.table-container input[type=radio]:nth-of-type(1):checked ~ .table .data {
  left: 40%;
}
.table-container input[type=radio]:nth-of-type(2):checked ~ .table .data {
  left: -20%;
}
.table-container input[type=radio]:nth-of-type(3):checked ~ .table .data {
  left: -80%;
}
.table-container input[type=radio]:nth-of-type(4):checked ~ .table .data {
  left: -140%;
}
.table-container input[type=radio]:nth-of-type(5):checked ~ .table .data {
  left: -200%;
}
.table-container .notes {
  margin-top: 0.5em;
  color: #FFF;
  font-size: 0.85em;
}

@-webkit-keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateZ(25deg);
            transform: translateY(-100%) rotateZ(25deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(5%) rotateZ(-5deg);
            transform: translateY(5%) rotateZ(-5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateZ(45deg);
            transform: translateY(-100%) rotateZ(45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(5%) rotateZ(-25deg);
            transform: translateY(5%) rotateZ(-25deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.markque{
   text-decoration-color: pink;
}

body{
  background-image: linear-gradient(darkgray, gray, lightgray);
    background-color: #cccccc;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button4{
  float:right;
}

input[type=text] {
  float: left;

}
